a:hover {
  color: red;
}
.nav {
  top: 0;
}

.dark:hover {
  color: white;
}

.menuItem {
  width: 100%;
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px !important;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #a8a8a8;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  display: block;
  height: 16px;
  width: 16px;
  background-color: #f5f5f5;
}
